extends layout.pug

block content
    head
        link(rel='stylesheet' href='/stylesheets/user.css')
    body
        div
            div
                if user
                    img(src=(user.profilePhoto || 'https://cdn.discordapp.com/attachments/889944469359718421/900129385720479744/whiteDuck.png') style='width:75px; height:75px;')

                    div
                        span(class='userName')=user.name
                    div
                        span=user.profession
                    div
                        span=user.biography
                    div
                        h1=Questions
                        each question in userQuestions
                            h2=question.title
                            p=question.content
                    div
                        form(action="/users/delete" method="POST")
                            input(type='hidden' value=user.id name='userId')
                            button(type='submit' class='deleteButton') Delete Account


    //- photo done
    //- name done
    //-profession done
    //-biography done
    //- each question in questions
    //-     +UserQuestion(question, user, likes)
