extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/user.css')
block content
    body
        div(class='divContainer')
            if user
                img(src=(user.profilePhoto || 'https://cdn.discordapp.com/attachments/889944469359718421/900129385720479744/whiteDuck.png') class='profilePicture')
                div
                    h1(class='userName')=user.name
                div
                    h2(class='profession')=user.profession
                div
                    h3(class='bio')=user.biography
                div(class='questionsContainer')
                    h1 Questions
                    each question in userQuestions
                        div(class='singleQuestion')
                            h2=question.title
                            p=question.content
                div(class='deleteForm')
                    form(action="/users/delete" method="POST")
                        input(type='hidden' value=user.id name='userId')
                        button(type='submit' class='deleteButton') Delete Account
