extends layout

include utils.pug

append head

    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    link(rel="stylesheet" href="/stylesheets/answers.css")


    script(src="/javascripts/comment.js" type="module" defer)
    script(src="/javascripts/questionEditDelete.js" type="module" defer)
    script(src="/javascripts/answers.js" type="module" defer)

block content
    div(class="home-container")
        div(class="categories")
            div(class="cat_label") Categories
            each category in categories
                +generateCategories(category)
        div(class="questions")
           div(id="posted-q" class="posted-q")
                div(class='q_label question_label') Question
                if locals.user && locals.user.id === question[0].userId
                    div(id = 'question_edit_delete_buttons')
                        button(id=`question_edit_button` class="question_edit") Edit Question
                        +editQuestionModal(question[0],categories)
                        button(id=`question_delete_button-${question[0].id}` class="question_delete") Delete Question
                div(class="q_header")
                    img(class='q_profile_photo' id=`${question[0].userId}` src=question[0].user.profilePhoto)
                    div(class='q_header_info')
                        div(class="q_username")=question[0].user.name
                        div(class="q_profession_and_date")
                            div(class="profession")=question[0].user.profession
                            div(class='date_updated')=question[0].updatedAt
                span(class="q_title")=question[0].title
                p(class="question")=question[0].content
                if question[0].answers.length > 0
                each answer in question[0].answers
                    +questionAnswers(answer, true)
                    +addCommentModal(answer)
                    div(class="commentsDiv" id=`comment_for_answer-${answer.id}`)
                        each comment in answer.comments
                            +usersComment(comment, true)
