mixin validationErrorSummary(errors)
  if errors
    div(class='alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin usersQuestion(question)
  div(class="posted-q")
    div(class="q_header")
      img(class='q_profile_photo' id=`${question.userId}` src=question.user.profilePhoto)
      div(class='q_header_info')
        div(class="q_username")=question.user.name
        div(class="q_profession_and_date")
          div(class="profession")=question.user.profession
          div(class='date_updated')=question.updatedAt
    span(class="q_title")=question.title
    p(class="question")=question.content
    div(class="question_buttons")
      form(class='like' action='/comments/answerId' method='post')
        i(class="far fa-heart")
      form(class='comments' action='/logout' method='post')
        i(class="far fa-comment")
