mixin addCommentModal(answer)
    div(id=`commentModal-${answer.id}` class='comment_modal')
        form(class='comment_modal_content' action=`/comments/${answer.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div(class='comment_container')
            label(for='comment') Type your comment
            br
            textarea(class="comment_textarea" name='comment' required)
            div(class='comment_eraser')
                button(class='comment_cancelButton' type='button' id=`comment_cancelButton-${answer.id}`) Cancel
                button(class='comment_submitButton' type='submit') Submit


mixin validationErrorSummary(errors)
  if errors
    div(class='alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error


mixin generateCategories(category)
  a(class='categoryName' href=`/categories/${category.id}`) #{category.name}

mixin usersQuestion(question)
  div(id="posted-q" class="posted-q")
    div(class='q_label question_label') Question
    div(class="q_header")
      a(href=`/users/${question.userId}`)
        img(class='q_profile_photo' id=`${question.userId}` src=question.user.profilePhoto)
      div(class='q_header_info')
        div(class="q_username")=question.user.name
        div(class="q_profession_and_date")
          div(class="profession")=question.user.profession
          div(class='date_updated')=question.updatedAt
    span(class="q_title")
        a(class="questionLink" href=`/questions/${question.id}`)=question.title
    p(class="question")=question.content


mixin usersComment(comment)
    div(id="commentDiv" class="commentDiv")
        div
        div( class='q_label comment_label') Comments
        div(class="q_header comment_header")
            img(class='q_profile_photo comment_profile_photo' id=`${comment.userId}` src=comment.user.profilePhoto)
            div(class='q_header_info comment_header_info')
                div(class="q_username comment_username")=comment.user.name
                div
                div(class="q_profession_and_date comment_profession_and_date")
                div
                div(class="profession comment-profession")=comment.user.profession
                div
                div(class='date_updated comment_date_updated')=comment.updatedAt
                div
                p(class="question comment")=comment.comment
        //- if locals.autheticated = comment.userId
        //- div(class="comment_edit_delete_buttons")
        //-     button(class="comment_edit") Edit
        //-     form(action=`/comments/${id}` method="delete")
        //-         input(type="hidden" name="_csrf" value=csrfToken)
        //-         button(id=`comment_delete-${id}` class="comment_delete") Delete

    //- button(type="button", class='q_view_answers_button') View All Answers

//- note: practice with class literals syntax
mixin questionAnswers(answer)
  div.answer_body
    div(class=' answer_label') Answer
    div.answer_head
      a.answer_a(href=`/users/${answer.userId}`)
        img.answer_profile_pic(id=`${answer.userId}` src=answer.user.profilePhoto)
      div.answer_header_info
        div.answer_username=answer.user.name
        div
        div.answer_profession_and_date
        div
        div(class="answer_profession")=answer.user.profession
        div
        div(class='answer_date_updated')=answer.updatedAt
        p.question=answer.answer
        div(class="like_comment_buttons")
            button(id="likeButton")
                i(class="far fa-heart")
            if answer.comments.length
                button(id=`show_comment_for_answer-${answer.id}` class="collapsible show_comment_button")
                    i(id=`show_comment_icon-${answer.id}` class="far fa-comment")
                    span(class="totalcomments")=answer.comments.length
